// Full name:    PixelVoxelClassification_Chunked_LabelMask_Internal_Developer
// Abbreviation: PixCla_Chnk_Msk_Int_Dev

process {
    withName: 'PIXCLA_CHNK_MSK_INT_DEV' {
        ext.args = [
            // model path
            // config
            // chunk overlap
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/pixcla" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
