// Full name:    PixelVoxelClassification_Monolithic_LabelMask_External_Developer
// Abbreviation: PixCla_Mono_Msk_Ext_Dev

process {
    withName: 'PIXCLA_MONO_MSK_EXT_DEV' {
        ext.args = [
            // model path
            // config
            // class names
            // threshold
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/pixcla" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
