// Full name:    ObjectSegmentation_Monolithic_Vector_External_EndUser
// Abbreviation: ObjSeg_Mono_Vec_Ext_EU

process {
    withName: 'OBJSEG_MONO_VEC_EXT_EU' {
        ext.args = [
            // model name
            // diameter
            // simplify tolerance
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objseg" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
