// Full name:    Rasterisation_Monolithic_LabelMask_External_EndUser
// Abbreviation: Raster_Mono_Msk_Ext_EU

process {
    withName: 'RASTER_MONO_MSK_EXT_EU' {
        ext.args = [
            // —
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/raster" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
