// Full name:    SpotObjectDetection_Monolithic_Points_External_EndUser
// Abbreviation: ObjDet_Mono_Pts_Ext_EU

process {
    withName: 'OBJDET_MONO_PTS_EXT_EU' {
        ext.args = [
            // detector type
            // spot size
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objdet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
