// Full name:    FeatureExtraction_Monolithic_Tabular_External_Developer
// Abbreviation: FeatExt_Mono_Tab_Ext_Dev

process {
    withName: 'FEATEXT_MONO_TAB_EXT_DEV' {
        ext.args = [
            // feature list
            // channels
            // texture params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/featext" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
