// Full name:    SpotObjectDetection_Monolithic_Points_External_Developer
// Abbreviation: ObjDet_Mono_Pts_Ext_Dev

process {
    withName: 'OBJDET_MONO_PTS_EXT_DEV' {
        ext.args = [
            // model path
            // config
            // all thresholds
            // NMS params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objdet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
