// Full name:    ObjectSegmentation_Monolithic_Vector_External_Developer
// Abbreviation: ObjSeg_Mono_Vec_Ext_Dev

process {
    withName: 'OBJSEG_MONO_VEC_EXT_DEV' {
        ext.args = [
            // model path
            // all params
            // simplify tolerance
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objseg" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
