// Full name:    FilamentTreeTracing_Monolithic_SWC_Internal_EndUser
// Abbreviation: TreTrc_Mono_SWC_Int_EU

process {
    withName: 'TRETRC_MONO_SWC_INT_EU' {
        ext.args = [
            // tracing method
            // seed strategy
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/tretrc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
