// Full name:    ObjectTracking_Chunked_TracksWithDivision_Internal_Developer
// Abbreviation: ObjTrk_Chnk_TrkDiv_Int_Dev

process {
    withName: 'OBJTRK_CHNK_TRKDIV_INT_DEV' {
        ext.args = [
            // model path
            // config
            // seg params
            // linking params
            // all
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objtrk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
