// Full name:    SegmentationToVector_Chunked_Vector_Internal_EndUser
// Abbreviation: Seg2Vec_Chnk_Vec_Int_EU

process {
    withName: 'SEG2VEC_CHNK_VEC_INT_EU' {
        ext.args = [
            // simplify tolerance
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/seg2vec" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
