// Full name:    ImageProcessing_Chunked_Image_Internal_Developer
// Abbreviation: ImgProc_Chnk_Img_Int_Dev

process {
    withName: 'IMGPROC_CHNK_IMG_INT_DEV' {
        ext.args = [
            // model path
            // model config
            // chunk overlap
            // all hyperparameters
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/imgproc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
