// Full name:    ObjectTracking_Monolithic_TracksWithDivision_Internal_EndUser
// Abbreviation: ObjTrk_Mono_TrkDiv_Int_EU

process {
    withName: 'OBJTRK_MONO_TRKDIV_INT_EU' {
        ext.args = [
            // model name / tracker type
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objtrk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
