// Full name:    SpotObjectCounting_Chunked_Scalar_Internal_EndUser
// Abbreviation: SptCnt_Chnk_Scl_Int_EU

process {
    withName: 'SPTCNT_CHNK_SCL_INT_EU' {
        ext.args = [
            // counting method
            // object size
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/sptcnt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
