// Full name:    FilamentTreeTracing_Monolithic_SWC_Internal_Developer
// Abbreviation: TreTrc_Mono_SWC_Int_Dev

process {
    withName: 'TRETRC_MONO_SWC_INT_DEV' {
        ext.args = [
            // tracing method
            // seed strategy
            // pruning
            // gap distance
            // all SNT params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/tretrc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
