// Full name:    ImageProcessing_Monolithic_Image_External_Developer
// Abbreviation: ImgProc_Mono_Img_Ext_Dev

process {
    withName: 'IMGPROC_MONO_IMG_EXT_DEV' {
        ext.args = [
            // model path
            // model config YAML
            // all hyperparameters
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/imgproc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
