// Full name:    ObjectSegmentation_Chunked_LabelMask_Internal_Developer
// Abbreviation: ObjSeg_Chnk_Msk_Int_Dev

process {
    withName: 'OBJSEG_CHNK_MSK_INT_DEV' {
        ext.args = [
            // model path
            // model config
            // chunk overlap
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objseg" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
