// Full name:    FeatureExtraction_Monolithic_Tabular_External_EndUser
// Abbreviation: FeatExt_Mono_Tab_Ext_EU

process {
    withName: 'FEATEXT_MONO_TAB_EXT_EU' {
        ext.args = [
            // feature set name
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/featext" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
