// Full name:    StitchingRegistration_Chunked_Image_Internal_Developer
// Abbreviation: Stitch_Chnk_Img_Int_Dev

process {
    withName: 'STITCH_CHNK_IMG_INT_DEV' {
        ext.args = [
            // all registration/fusion params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/stitch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
