// Full name:    SegmentationToVector_Monolithic_Vector_External_Developer
// Abbreviation: Seg2Vec_Mono_Vec_Ext_Dev

process {
    withName: 'SEG2VEC_MONO_VEC_EXT_DEV' {
        ext.args = [
            // simplify tolerance
            // min area
            // hole handling
            // coord transform
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/seg2vec" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
