// Full name:    PixelVoxelClassification_Monolithic_LabelMask_External_EndUser
// Abbreviation: PixCla_Mono_Msk_Ext_EU

process {
    withName: 'PIXCLA_MONO_MSK_EXT_EU' {
        ext.args = [
            // model name
            // class names
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/pixcla" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
