// Full name:    SpotObjectCounting_Monolithic_Scalar_External_Developer
// Abbreviation: SptCnt_Mono_Scl_Ext_Dev

process {
    withName: 'SPTCNT_MONO_SCL_EXT_DEV' {
        ext.args = [
            // model path
            // config
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/sptcnt" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
