// Full name:    FilamentNetworkTracing_Monolithic_SkeletonMask_Internal_Developer
// Abbreviation: LooTrc_Mono_Skl_Int_Dev

process {
    withName: 'LOOTRC_MONO_SKL_INT_DEV' {
        ext.args = [
            // method
            // pruning
            // min branch length
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/lootrc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
