// Full name:    SpotObjectDetection_Chunked_Tabular_Internal_EndUser
// Abbreviation: ObjDet_Chnk_Tab_Int_EU

process {
    withName: 'OBJDET_CHNK_TAB_INT_EU' {
        ext.args = [
            // detector type
            // spot size
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objdet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
