// Full name:    Rasterisation_Chunked_LabelMask_Internal_EndUser
// Abbreviation: Raster_Chnk_Msk_Int_EU

process {
    withName: 'RASTER_CHNK_MSK_INT_EU' {
        ext.args = [
            // —
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/raster" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
