// Full name:    FeatureExtraction_Chunked_Tabular_Internal_EndUser
// Abbreviation: FeatExt_Chnk_Tab_Int_EU

process {
    withName: 'FEATEXT_CHNK_TAB_INT_EU' {
        ext.args = [
            // feature set name
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/featext" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
