// Full name:    SpotObjectDetection_Chunked_Tabular_Internal_Developer
// Abbreviation: ObjDet_Chnk_Tab_Int_Dev

process {
    withName: 'OBJDET_CHNK_TAB_INT_DEV' {
        ext.args = [
            // model path
            // config
            // chunk overlap
            // dedup distance
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/objdet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
