// Full name:    LandmarkDetection_Monolithic_ClassMask_External_EndUser
// Abbreviation: LndDet_Mono_ClsMsk_Ext_EU

process {
    withName: 'LNDDET_MONO_CLSMSK_EXT_EU' {
        ext.args = [
            // model name
            // n_landmarks
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/lnddet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
