// Full name:    ImageProcessing_Chunked_Image_Internal_EndUser
// Abbreviation: ImgProc_Chnk_Img_Int_EU

process {
    withName: 'IMGPROC_CHNK_IMG_INT_EU' {
        ext.args = [
            // preset name
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/imgproc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
