// Full name:    StitchingRegistration_Monolithic_Image_Internal_Developer
// Abbreviation: Stitch_Mono_Img_Int_Dev

process {
    withName: 'STITCH_MONO_IMG_INT_DEV' {
        ext.args = [
            // registration method
            // fusion method
            // downsample
            // transform output
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/stitch" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
