// Full name:    LandmarkDetection_Monolithic_ClassMask_External_Developer
// Abbreviation: LndDet_Mono_ClsMsk_Ext_Dev

process {
    withName: 'LNDDET_MONO_CLSMSK_EXT_DEV' {
        ext.args = [
            // model path
            // config
            // n_landmarks
            // confidence threshold
            // all params
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/lnddet" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
