// Full name:    ParticleTracking_Monolithic_Tracks_Internal_EndUser
// Abbreviation: PrtTrk_Mono_Trk_Int_EU

process {
    withName: 'PRTTRK_MONO_TRK_INT_EU' {
        ext.args = [
            // max linking distance
            // max gap frames
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/prttrk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
