// Full name:    ImageProcessing_Monolithic_Image_External_EndUser
// Abbreviation: ImgProc_Mono_Img_Ext_EU

process {
    withName: 'IMGPROC_MONO_IMG_EXT_EU' {
        ext.args = [
            // preset name
        ].join(' ')
        publishDir = [
            path: { "${params.outdir}/imgproc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
